<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You are invited to Referrer platform!</p>
    <p>
    About Referrer<br>
    --------------------------
    </p>
    
    <p>You can refer your friends</p>
    <p>They can sign in, and you will get rewards</p>
  </body>
</html>